<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>部署データ追加・編集ページ</title>
</head>

<body>
    {% if edit_department %}
    <h2>部署データを編集します。</h2>
    <dev>
        <form method="POST" action="">
            <p>部署名：<input type="text" name="new_department" value="{{edit_department}}"></p>
            <!--<input type="hidden" name="department_id" value="{{department_id}}">-->
            <!--<p><input type="submit" name="de_setting" formaction="de_result" value="設定"></p>-->
            <p><input type="submit" name="de_setting" value="設定"></p>
            <p><input type="submit" name="de_cancel" formaction="de_info" value="キャンセル"></p>
        </form>
        
    </dev>
    {% else %}
    <h2>部署データを新規作成します。</h2>
    <dev>
        <form method="POST" action="">
            <p>部署名：<input type="text" name="department" value=""></p>
            <!--<p><input type="submit" name="de_setting" formaction="de_result" value="設定"></p>-->
            <p><input type="submit" name="de_setting" value="設定"></p>
            <p><input type="submit" name="de_cancel" formaction="de_info" value="キャンセル"></p>
        </form>
        
    </dev>
    {% endif %}

</body>