<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>部署データ追加ページ</title>
</head>

<body>
    <h2>部署データを新規作成します。</h2>
    <dev>
        <form method="POST" action="de_info">
            <p>部署名：<input type="text" name="department" value=""></p>
            <p><input type="submit" name="de_add" onclick="location.href='de_info'" value="設定"></p>
            <p><input type="submit" name="de_cancel" onclick="location.href='de_info'" value="キャンセル"></p>
        </form>
        
    </dev>

</body>