<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>部署データ追加・編集ページ</title>
</head>

<body>   
    {% if departments %}
    {% for belongs in departments %}
    <h2>部署データを編集します。</h2>
    <dev>
        <form method="POST" action="de_edit">
            <p>部署名：<input type="text" name="new_department" value="{{belongs.department}}"></p>
            <!--<input type="hidden" name="department_id" value="{{department_id}}">-->
            <!--<p><input type="submit" name="de_setting" formaction="de_result" value="設定"></p>-->
            <p><input type="submit" name="de_setting" value="設定"></p>
        </form>
        <form method="POST" action="de_info">
            <p><input type="submit" name="de_cancel" value="キャンセル"></p>
        </form>
    </dev>
    {% endfor %}
    
    {% else %}
    <h2>部署データを新規作成します。</h2>
    <dev>
        <form method="POST" action="de_add">
            <p>部署名：<input type="text" name="new_department" value=""></p>
            <!--<p><input type="submit" name="de_setting" formaction="de_result" value="設定"></p>-->
            <p><input type="submit" name="de_setting" value="設定"></p>
        </form>
        <form method="POST" action="de_info">
            <p><input type="submit" name="de_cancel" value="キャンセル"></p>
        </form>
    </dev>
    {% endif %}

</body>