<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>社員情報管理ページ</title>
    <link rel="stylesheet" href="../static/css/de_info.css">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <dev>
        <table>
            <caption>部署一覧</caption>
            <tr style="background-color: lightblue;">
                <th>部署ID</th>
                <th>部署名</th>
                <th colspan="2">部署データの編集</th>
            </tr>

            {% for belongs in departments %}
            <tr>                
                <td>{{ belongs.department_id }}</td>
                <td>{{ belongs.department }}</td>

                <form method="POST" action="de_edit">
                    <td>
                        <button type="submit" name="de_edit" value="{{belongs.department_id}}">編集</button>
                    </td>
                </form>

                <form method="POST" action="de_delete">
                    <td>
                        <button type="submit" name="de_delete" value="{{belongs.department_id}}">削除</button>    
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
    </dev>

    <!--部署の追加-->
    <dev>
        <form method="POST" action="de_add">
            <p><button type="submit" name="de_add" value="">新規追加</button></p>
        </form>
    </dev>

</body>
</html>