<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>社員情報検索ページ</title>
</head>

<body>
    <h2>条件を指定して社員情報を検索します。</h2>
    <dev>
        <form method="POST" action="">
            <p>所属部署：
                <select name="department">
                    <option value="" selected>未選択</option>
                    {% for belongs in emp %}
                    <option value="{{belongs.department}}">{{belongs.department}}</option>
                    {% endfor %}
                </select>
                
            </p>
            <p>社員ID：<input type="text" name="emp_id" value=""></p>
            <p>名前に含む文字：<input type="text" name="name_char" value=""></p>
            <p><input type="submit" name="search" value="社員検索"></p>
        </form>
        
    </dev>

</body>