<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>社員データの追加・修正</title>
</head>

<body>
    {% if emp %}
        <h3>社員情報を入力してください。</h3>
        {% for data in emp %}
        <section>
        <form method="post" enctype="multipart/form-data" action="/save_emp_edit">
            <p>社員ID：<input type="text" name="emp_id" value="{{data.emp_id}}"><br>
                ※emp+数字4桁
            </p>

            <p>名前：<input type="text" name="name" value="{{data.name}}"></p>
            <p>年齢：<input type="text" name="age" value="{{data.age}}"></p>
            
            {% if data.gender == '男' %}
            <p>性別：<input type="radio" name="gender" value="男" checked {{'checked' if gender == '男'}}>男
            <input type="radio" name="gender" value="女" {{'checked' if gender == '女'}}>女 </p>
            {% elif data.gender == '女' %}
            <p>性別：<input type="radio" name="gender" value="男" {{'checked' if gender == '男'}}>男
            <input type="radio" name="gender" value="女" checked {{'checked' if gender == '女'}}>女 </p>
            {% endif %}

            <p>写真：</p>
            <img src="static/images/{{data.image}}" height="200">
            <p><input type="file" name="image" value="{{data.image}}" accept="image/jpeg,image/png">
            <!-- <input type="hidden" name="image" value="{{data.image}}"> -->
            <input type="hidden" name="image_id" value="{{data.image_id}}">
            <div>※画像に変更がない場合もファイルを選択してください。</div></p>

            <p>郵便番号：<input type="text" name="postal_code" value="{{data.postal_code}}"><br>
            ※ハイフンを入れて入力してください。（例）100-1000</p>
            

            <p>都道府県：
                <select name="pref">
                    <option value="{{data.pref}}" selected>{{ data.pref }}</option>
                    <option value="北海道">北海道</option>
                    <option value="青森県">青森県</option>
                    <option value="岩手県">岩手県</option>
                    <option value="宮城県">宮城県</option>
                    <option value="秋田県">秋田県</option>
                    <option value="山形県">山形県</option>
                    <option value="福島県">福島県</option>
                    <option value="茨城県">茨城県</option>
                    <option value="栃木県">栃木県</option>
                    <option value="群馬県">群馬県</option>
                    <option value="埼玉県">埼玉県</option>
                    <option value="千葉県">千葉県</option>
                    <option value="東京都">東京都</option>
                    <option value="神奈川県">神奈川県</option>
                    <option value="新潟県">新潟県</option>
                    <option value="富山県">富山県</option>
                    <option value="石川県">石川県</option>
                    <option value="福井県">福井県</option>
                    <option value="山梨県">山梨県</option>
                    <option value="長野県">長野県</option>
                    <option value="岐阜県">岐阜県</option>
                    <option value="静岡県">静岡県</option>
                    <option value="愛知県">愛知県</option>
                    <option value="三重県">三重県</option>
                    <option value="滋賀県">滋賀県</option>
                    <option value="京都府">京都府</option>
                    <option value="大阪府">大阪府</option>
                    <option value="兵庫県">兵庫県</option>
                    <option value="奈良県">奈良県</option>
                    <option value="和歌山県">和歌山県</option>
                    <option value="鳥取県">鳥取県</option>
                    <option value="島根県">島根県</option>
                    <option value="岡山県">岡山県</option>
                    <option value="広島県">広島県</option>
                    <option value="山口県">山口県</option>
                    <option value="徳島県">徳島県</option>
                    <option value="香川県">香川県</option>
                    <option value="愛媛県">愛媛県</option>
                    <option value="高知県">高知県</option>
                    <option value="福岡県">福岡県</option>
                    <option value="佐賀県">佐賀県</option>
                    <option value="長崎県">長崎県</option>
                    <option value="熊本県">熊本県</option>
                    <option value="大分県">大分県</option>
                    <option value="宮崎県">宮崎県</option>
                    <option value="鹿児島県">鹿児島県</option>
                    <option value="沖縄県">沖縄県</option>
                </select>
            </p>

            <p>住所：<input type="text" name="address" value="{{data.address}}"><br>
            <dev>※市区町村以下を記入してください。</dev></p>

            <p>所属：
                
                <select name="department_id">
                    <option value="{{data.department_id}}" selected>{{ data.department }}</option>
                    {% for belongs in departments %}
                    <option value="{{belongs.department_id}}">{{ belongs.department }}</option>
                    {% endfor %}
                </select>
            </p>

            <p>入社日：<input type="text" name="join_date" value="{{data.join_date}}"><br>
                ※YYYY-MM-DDの形で記入してください</p>

            <p>退社日：<input type="text" name="leave_date" value="{{data.leave_date}}"><br>
                ※YYYY-MM-DDの形で記入してください</p>
        

            <div><input type="submit" name="emp_setting" value="設定"></div>
        </form>
        <form method="post" enctype="multipart/form-data" action="/emp_info">
            <div><input type="submit" name="emp_cancel" value="キャンセル"></div>
        </form>
        </section>
        {% endfor %}

    {% else %}
    <h3>社員情報を入力してください。</h3>
    
    <section>
        <form method="post" enctype="multipart/form-data" action="/save_emp_add">
            <p>社員ID：<input type="text" name="emp_id" value="emp"><br>
                ※emp+数字4桁
            </p>
            <p>名前：<input type="text" name="name" value=""></p>
            <p>年齢：<input type="text" name="age" value=""></p>
            <p>性別：<input type="radio" name="gender" value="男" {{'checked' if gender == '男'}}>男
            <input type="radio" name="gender" value="女" {{'checked' if gender == '女'}}>女 </p>
            <p>写真：</p>
            <!--{% if image_path %}
            <p><img src="{{ image_path }}" height="200"></p>
            {% endif %}-->
            <p><input type="file" name="image" accept="image/jpeg,image/png"><br>
                ※アップロード可能なファイル形式は「JPEG」「PNG」のみ</p>

            <p>郵便番号：<input type="text" name="postal_code" value=""><br
                >※ハイフンを入れて入力してください。（例）100-1000</p>
            
            <p>都道府県：
                <select name="pref">
                    <option value="" selected>選択してください</option>
                    <option value="北海道">北海道</option>
                    <option value="青森県">青森県</option>
                    <option value="岩手県">岩手県</option>
                    <option value="宮城県">宮城県</option>
                    <option value="秋田県">秋田県</option>
                    <option value="山形県">山形県</option>
                    <option value="福島県">福島県</option>
                    <option value="茨城県">茨城県</option>
                    <option value="栃木県">栃木県</option>
                    <option value="群馬県">群馬県</option>
                    <option value="埼玉県">埼玉県</option>
                    <option value="千葉県">千葉県</option>
                    <option value="東京都">東京都</option>
                    <option value="神奈川県">神奈川県</option>
                    <option value="新潟県">新潟県</option>
                    <option value="富山県">富山県</option>
                    <option value="石川県">石川県</option>
                    <option value="福井県">福井県</option>
                    <option value="山梨県">山梨県</option>
                    <option value="長野県">長野県</option>
                    <option value="岐阜県">岐阜県</option>
                    <option value="静岡県">静岡県</option>
                    <option value="愛知県">愛知県</option>
                    <option value="三重県">三重県</option>
                    <option value="滋賀県">滋賀県</option>
                    <option value="京都府">京都府</option>
                    <option value="大阪府">大阪府</option>
                    <option value="兵庫県">兵庫県</option>
                    <option value="奈良県">奈良県</option>
                    <option value="和歌山県">和歌山県</option>
                    <option value="鳥取県">鳥取県</option>
                    <option value="島根県">島根県</option>
                    <option value="岡山県">岡山県</option>
                    <option value="広島県">広島県</option>
                    <option value="山口県">山口県</option>
                    <option value="徳島県">徳島県</option>
                    <option value="香川県">香川県</option>
                    <option value="愛媛県">愛媛県</option>
                    <option value="高知県">高知県</option>
                    <option value="福岡県">福岡県</option>
                    <option value="佐賀県">佐賀県</option>
                    <option value="長崎県">長崎県</option>
                    <option value="熊本県">熊本県</option>
                    <option value="大分県">大分県</option>
                    <option value="宮崎県">宮崎県</option>
                    <option value="鹿児島県">鹿児島県</option>
                    <option value="沖縄県">沖縄県</option>
                </select>
            </p>

            <p>住所：<input type="text" name="address" value=""><br>
                ※市区町村以下を記入してください。</p>

            <p>所属：
                <select name="department_id">
                    <option value="" selected>未指定</option>
                    {% for belongs in departments %}
                    <option value="{{belongs.department_id}}">{{ belongs.department }}</option>
                    {% endfor %}
                </select>
            </p>

            <p>入社日：<input type="text" name="join_date" value=""><br>
                ※YYYY-MM-DDの形で記入してください</p>

            <p>退社日：<input type="text" name="leave_date" value="2500-03-31">
                ※YYYY-MM-DDの形で記入してください</p>

            <div><input type="submit" name="emp_setting" value="設定"></div>
        </form>
        <form method="post" enctype="multipart/form-data" action="/emp_info">
            <div><input type="submit" name="emp_cancel" value="キャンセル"></div>
        </form>
    </section>
    {% endif %}

